# These variables are only available locally in MiniOxygen
# https://shopify.dev/docs/custom-storefronts/hydrogen/environment-variables

## Shopify Environment Variables
# A secret used to sign session cookies.
SESSION_SECRET="foobar"
# The public access token for the Storefront API.
PUBLIC_STOREFRONT_API_TOKEN="56a12c0c96ed335502c9d23912377290"
# (Optional) The Storefront API version.
# Defaults to the version of the Storefront API used by Hydrogen.
PUBLIC_STOREFRONT_API_VERSION="2023-04"
# The domain of the store used to communicate with the Storefront API.
PUBLIC_STORE_DOMAIN="sanity-with-hydrogen.myshopify.com"

## Sanity Environment Variables
# Project ID
SANITY_PROJECT_ID="lxbae1pp"
# Dataset name
SANITY_DATASET="production"
# (Optional) Sanity API version
SANITY_API_VERSION="2023-03-30"
# Sanity token to authenticate requests in "preview" mode
# https://www.sanity.io/docs/http-auth
SANITY_API_TOKEN="skn2ao9ZMs1Za6ldcGABhxz4hJuHGWnhNuSoiAVJQykyVsKZzf367RlBs2j0848Ieupdyz1CMtxND3ZKWAHVpEVxzgkHlc2KJjAltkAaujtynT85xoHkCQFxQ8kUefC3sPhEkRA0ILmzKjLSDI2zX2KV2waGTCMWvTgeiDcIYuo5Z9WrbpjQ"
# Secret for authenticating preview mode 
SANITY_PREVIEW_SECRET=""